
  <div class="displayData dataTabel ">
    <table class="fixed_header">
        <thead>
            <tr>
                <th class="row-id">Nr</th>
                <th class="row-questionname">Title</th>
                <th class="row-questionname">Description</th>

                <th class="row-actions">
                    <button type="button" class="btn btn-primary btn-sm">Add Question</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of questionsToDisplay; let i = index"  >
                <td class="row-id">{{row.id}}</td>

                <td class="tabelRowLeft row-name">
                  adsafdaf
                </td>

                <td class="tabelRowLeft row-time">
                  asdfsadf
                </td>

                <td class="tabelRowLeft row-time">
                    agfgfsg
                </td>

                <td class="tabelRowLeft row-time">
                    asagafg
                </td>


                <td class=" row-actions">
                
                </td>
            </tr>
        </tbody>
    </table>
</div>
